<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/5f35cc92eb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class='bg-dark'>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand px-5" href="<%= gossips_path %>"><i class="fas fa-lg fa-user-circle pr-3"></i>The Gossip Project</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link pr-4" href="<%= team_path %>">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-4" href="<%= contact_path %>">Contact</a>
          </li>
        </ul>
        <% if current_user %>
          <ul class="navbar-nav mr-4">
            <li class="nav-item "> 
                <%= link_to "Se déconnecter", session_path(session.id), method: :delete , class:"text-white" %>
            </li>
         </ul>

        <% else %>
          <ul class="navbar-nav mr-4">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login / logout
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= new_user_path %>">S'inscrire</a>
                <a class="dropdown-item" href="<%= new_session_path %>">Se connecter</a>
              </div>
            </li>
         
          </ul>
        <% end %>
      </div>

    </nav>

    <div>

      
        <% if flash[:success] %>
        <div class='px-5 pt-3'>
          <div class="alert alert-success">
            <button type='button' class='close' data-dismiss='alert'>&times;</button>
              <%= flash[:success] %>
          </div>
        </div>
        <% end %>
      


      <%= yield %>

      
    </div>


  

  </body>
</html>
